.show-only-small-dev{
    display: none;
}
@media screen and (max-width: 945px) {
    .show-only-small-dev{
        display: block ;
    }
}

.container{
    padding: 12px 0;
}

.container .md-gutter{
    margin: 0;
}

.md-layout-item{
    margin-bottom: 12px;
}

.md-overlay{
    position: fixed;
}
.search-block{
    padding: 0 12px;
}